[user]
	name = Joost Rijneveld
	email = joost@joostrijneveld.nl
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
